/* 
    Document   : inicio
    Created on : Aug 13, 2010, 10:48:11 AM
    Author     : maya
    Description:
        Purpose of the stylesheet follows.
*/

#letra1{
    margin-top: 15px;
    color: #515151
}

#letra2{
    font-size: 22px;
    color: #515151
}